


/* common css style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.display-flex{
    display: flex;
}
/* header starts */
header{
    background: #f7f7f7;
    padding: 20px 0 30px 0;
}
nav{
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.logo{
    align-items: center;
}
.logo img{
    width: 50px;
    height: 50px;
    padding: 5px;
    margin-right: 20px;
}
.logo h2{
    font-size: 24px;
}
hr{
    display: none;
}
marquee{
    font-size: 25px;
    margin-top: 20px;
}
.bar{
    font-size: 35px;
    position: relative;
    margin-left: 200px;
    display: none;
}
.menu ul{
    margin-left: -600px;
    padding: 10px 0;
}
.menu ul li{
    list-style: none;
    margin: 0 10px;
}
.menu ul li a{
    margin: 0 10px;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 19px;
}
.li1 a{
    color: rgb(193, 196, 23);
}
.li2 a{
    color: rgba(79, 87, 163, 0.445);
}
.li3 a{
    color: rgb(39, 144, 148);
}
.li4 a{
    color: rgb(22, 3, 92);
}
.menu ul li a:hover{
    color: #353232;
}
.contact-btn{
    padding: 10px 70px;
    background: #fea301;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: all 0.4s;
}
.contact-btn:hover{
    background: #fcc360;
}

/* hero area starts */
.hero-area{
    width: 90%;
    margin: 20px auto;
}
.empow{
    color: #fea301;
}
.towards{
    color: blueviolet;
}
.hero-content{
    margin-top: 50px;
    padding: 25px 25px 25px 0;
}
.hero-content h1{
    font-size: 55px;
    margin: 20px 0;
}
.hero-content p{
    margin: 20px 0;
    font-size: 19px;
    padding: 20px 20px 10px 0;
}
.enroll{
    padding: 15px 50px;
    border: none;
    background: #7e5858;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.4s;
}
.enroll:hover{
    background: #b67777;
}
.hero-img img{
    margin-top: -40px;
}

/* main start */
main{
    background: #f7f7f7;
    background-image: url(../assets/bg.png);
}
.curriculum{
    width: 90%;
    margin: 0 auto;
}
.curriculum h2{
    font-size: 36px;
    text-align: center;
    padding: 60px 0;
    margin-bottom: 20px;
}
.box-container{
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.box-1{background: linear-gradient(to top, #d8aeae ,#faecd4,
    #98a2ebcb);
    box-shadow: 2px 2px 5px rgb(224, 189, 189);
    text-align: center;
    padding: 20px;
    border-radius: 12px;
}
.box-2{background: linear-gradient(to bottom, #d6ec75 ,#faecd4,
    #3a4074a9);
}
.box-1 img{
    padding: 25px;
}
.box-1 h3{
    font-size: 22px;
    padding: 10px;
    margin-bottom: 16px;
}
.box-1 p{
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
}
.box-1 button{
    padding: 10px;
    margin-top: 10px;
    border: none;
    background: none;
}
.box-1 button a{
    text-decoration: none;
    font-weight: 500;
    transition: ease-in-out 0.5s;
}
.box-1 button a:hover{
    font-weight: 700;
    color: #ff0000;
}
.arrow-btn{
    text-align: center;
    font-size: 30px;
    margin: 50px 0;
}
.arrow{
    margin: 10px;
    padding: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fea301;
    border: none;
    transition: ease-in-out 0.4s;
}
.arrow:hover{
    background: #ff0000;
}

/* our story part start */
.stories{
    background: linear-gradient(to top, #c7b9b9 ,#f5f0f0);

}
.our-story{
    background-image: url(../assets/bg.png);
}
.our-story h2{
    text-align: center;
    margin: 80px 0 50px 0;
    font-size: 32px;
    padding: 20px;
}
.grid-container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 3%;
    padding: 10px;
}
.item{
    position: relative;
    background: #fff;
    border-radius: 12px;
}
.item img{
    width: 100%;
    height: auto;
    border-radius: 12px 12px 0 0;
}
.item h3{
    margin: 20px 0;
    font-size: 22px;
}
.item p{
    margin: 20px 0;
}
.item-content{
    padding: 20px;
}
.item-1{
    grid-column: span 2;
    grid-row: span 2;
}
.item-6, .item-7{
    display: none;
}
.view{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 32px;
}
.view-btn{
    width: 150px;
    padding: 15px 30px;
    border-radius: 12px;
    border: none;
    background: #ee2222fb;
    color: white;
    font-size: 18px;
    transition: ease-in-out 0.4s;
}
.view-btn:hover{
    background: #0adf0a91;
    color: #615252;
}
.item button{
    width: 140px;
    font-size: 13px;
    color: white;
    padding: 12px 10px;
    border: none;
    border-radius: 25px;
    background: #1900ff9c;
    cursor: pointer;
    transition: ease-in-out 0.4s;
}
.item-1 button{
    position: absolute;
    top: 342px;
    right: 415px;
}
.item-2 button{
    position: absolute;
    top: 145px;
    right: 110px;
}
.item-3 button{
    position: absolute;
    top: 145px;
    right: 110px;
}
.item-4 button{
    position: absolute;
    top: 150px;
    right: 110px;
}
.item-5 button{
    position: absolute;
    top: 150px;
    right: 110px;
}
.item button:hover{
    background: #006eff;
}
/* footre starts */
footer{
    width: 100%;
    background: rgba(0, 0, 255, 0.801);
    color: white;
    margin-top: -20px;
}
.footer-container{
    width: 90%;
    margin: 10px auto;
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.foot-logo{
    align-items: center;
}
.foot-logo h2{
    display: inline;
    margin-left: 5px;
}
.kids-logo p{
    margin: 15px 0;
    text-align: justify;
    padding: 15px 40px 10px 10px;
}
.about{
    text-align: center;
}
.footer-nav ul{
    margin-top: 10px;
    flex-direction: column;
}
.footer-nav ul li{
    margin: 8px 0;
    margin-left: 120px;
    list-style: none;
    text-align: left;
}
.footer-nav ul li a{
    text-decoration: none;
    text-align: left;
    color: white;
    padding: 5px 20px;
    border-radius: 8px;
}
.footer-nav ul li a:hover{
    background: #c09898;
    color: #353232;
}
.social-icon{
    text-align: center;
}
.social-icon h2{
    margin-bottom: 40px;
}
.icons a{
    color: rgb(27, 27, 27);
    margin: 5px 5px;
}
.fa-brands{
    background: #33ff2c86;
    padding: 10px;
    font-size: 25px;
    border-radius: 8px;
    transition: ease-in-out 0.4s;
}
.fa-brands:hover{
    background: #333131;
    color: white;
}


/* mobile friendly responsiv */
@media screen and (max-width:576px) {
    .logo h2{
        display: none;
    }
    .menu{
        display: none;
    }
    .bar{
        display: block;
    }
    hr{
        display: block;
        margin-top: 10px;
    }
    .header{
        padding: 0;
        margin: 50px 0 0 0;
    }
    .hero-area{
        flex-direction: column-reverse;
    }
    .hero-content{
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .hero-img{
        padding: 0;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-container{
        flex-direction: column;
        gap: 20px;
    }
    .arrow-btn{
        display: none;
    }
    .grid-container{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, 1fr);
    }
    .item-1{
        display: none;
    }
    .item-6, .item-7{
        display: block;
    }
    .item-2 button,.item-3 button,.item-4 button,.item-5 button,.item-6 button, .item-7 button{
        position: absolute;
        top: 105px;
        right: 32px;
    }
    .footer-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .about, .social-icon{
        text-align: left;
    }
    .footer-nav ul li{
        margin-left: 0;
    }

}